{% extends 'base.html.twig' %}
{% block body %}

    
        <div>
            {{ form_start(formEditComment) }}
            {{ form_row(formEditComment.content) }}
            
            <button type="submit" class="btn btn-dark">
            Enregistrer le commentaire
            </button>

            {{ form_end(formEditComment) }}
        </div>
        

{% endblock %}