{{ form_start(formSearch) }}
{{ form_widget(formSearch.search) }}
<button id="search_submit" type="submit" >
<i class="fas fa-search"></i> 
<span>Rechercher</span></button>
{{ form_end(formSearch) }} 