{% extends 'base.html.twig' %}

{% block body %}

<h2>Bienvenu sur ta page perso {{user.username}} !</h2>

    <div>
        <h3>Tes créations :</h3>
        {% for book in books %}
            <p><a href="{{ path('book_show', {'id': book.id }) }}">{{ book.title }}</a></p>
        {% endfor %}
    </div>


{% endblock %}