{% extends 'base.html.twig' %}

{% block body %}
<h1>Hey !</h1>
<h2>{{ subtitle }}</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aut, omnis, 
consectetur est quia repellendus exercitationem commodi aliquam totam aspernatur, 
perferendis ipsa aliquid hic rerum alias distinctio quae quibusdam ab qui nemo odio. 
Doloribus perferendis nobis ea repudiandae laudantium! Dolor.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam aut, omnis, 
consectetur est quia repellendus exercitationem commodi aliquam totam aspernatur, 
perferendis ipsa aliquid hic rerum alias distinctio quae quibusdam ab qui nemo odio. 
Doloribus perferendis nobis ea repudiandae laudantium! Dolor.</p>

<span>by Jally </span>


{% endblock %}