

body{
    background-color: red;
}

/* BASE ********************************************************************************/

.formSearch{
    display : flex;
}

/* INDEX *******************************************************************************/

.carousel-item{
    width: 1100px;
    height: 700px;
}

.lastBooks{
    margin-top: 80px;
    margin-bottom: 40px;
}

.cardIndex{
    margin-top: 30px;
    margin-bottom: 30px;
}

/* CATEGORIES **************************************************************************/
.cardCategory{
    margin-top: 30px;
    width: 1100px;
    height: 300px;
    overflow: hidden;
}

/* CATEGORY **************************************************************************/


/* SHOW BOOK **************************************************************************/
.detailsBook{
    display: flex;
    align-items: center;
}

.publicOrNotShowBook1{
    margin-left: 20px;
    margin-right: 20px;
}

.completedOrNotShowBook1{
    margin-right: 20px;
}

.btnEditBook{
    margin-right: 20px;
}

.btnEditAndDelete{
    margin-top: 20px;
}

.titleAndLikes{
    display: flex;
}

/* SHOW CHAPTER **************************************************************************/
.detailsChapter{
    display: flex;
    align-items: center;
}

.publicOrNotShowChapter{
    margin-right: 20px;
}

.completedOrNotShowChapter{
    margin-right: 20px;
}

/* FORM NEW BOOK **************************************************************************/
.formNewBookContent{
    width: 200px;
}

/* ESPACE PERSO **************************************************************************/
.details{
    display: flex;
}

.publicOrNotEspacePerso{
    margin-left: 20px;
    margin-right: 20px;
}

.booksEspacePerso{
    margin-top: 50px;
    margin-bottom: 30px;
}

.cardCommentsEspacePerso{
    margin-top: 30px;
}